<div class="container mt-5 mb-5">
    <h1 class="text-center">Contact</h1>
    <div class="row">
        <div class="col-lg-4 mt-2 mb-2">
            <img src="assets/img/contact-us.png" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-8 mt-2 mb-2">
            <form class="form-group">
                <div class="row">
                    <div class="col-lg-6 mt-2 mb-2">
                        <input type="text" class="form-control" placeholder="Enter First Name">
                    </div>
                    <div class="col-lg-6 mt-2 mb-2">
                        <input type="text" class="form-control" placeholder="Enter Last Name">
                    </div>
                    <div class="col-lg-12 mt-2 mb-2">
                        <input type="text" class="form-control" placeholder="Enter Email ID">
                    </div>
                    <div class="col-lg-12 mt-2 mb-2">
                        <input type="text" class="form-control" placeholder="Enter Mobile">
                    </div>
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-md">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
