.container {
    margin-top: 3%;
    /*background-color: #f5f5f5;*/
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.text-center {
    color: #ED6A5A;
    font-size: 36px;
    margin-bottom: 30px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about-image {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.about-image img:hover {
    transform: scale(1.1);
}

.about-text {
    flex: 2;
    padding: 20px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-image {
        margin-bottom: 20px;
    }

    .about-text {
        padding: 0;
    }
}

