<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>

    <div class="about-content">
        <div class="about-image">
            <img src="assets/img/about-us.png" alt="About Image" />
        </div>

        <div class="about-text">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. A at assumenda tenetur facere quidem dicta recusandae autem nobis, obcaecati consequatur ipsa cum voluptas nam dolorem quibusdam tempore ea aut eos.
                <!-- Your lorem ipsum text goes here -->
            </p>
        </div>
    </div>
</div>

